body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.container {
  box-shadow: 20px 20px 30px -3px black;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 450px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  line-height: 40px;
}
input {
  width: 200px;
  height: 20px;
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
}
.noacc {
  font-size: 10px;
  text-decoration: none;
}
#link {
  text-decoration: none;
  color: blue;
}
#login {
  background-color: white;
  cursor: pointer;
  transition: all 1s;
}

#login:hover {
  background-color: rgb(195, 195, 195);
  transition: all 1s;
}
